{% extends 'base.html' %}
{% block main %}

	
<div class="content-body">
<div class="container">
<div class="row">
<main class="col-md-8">
<h1 class="page-title">About Me</h1>
<article class="post">
<div class="entry-content clearfix">
<figure class="img-responsive-center">

</figure>
<p>这是玄锷无梦的博客,大名王登开.本博客是在学习django开发时设计的,依据追梦人的博客教程学习设计的.</p>
<div class="height-40px"></div>
<h2 class="title text-center">Social</h2>
<ul class="social">
<li><a href="https://blog.csdn.net/weixin_42040854"><img src="/static/blog/img/csdn_log.png" alt="csdn"/></a></li>
<li><a href="https://segmentfault.com/u/wangdengkai"><img src="/static/blog/img/sf.png" alt="sf"/></a></li>
<li><a href=" https://wangdengkai.github.io/"><img src="/static/blog/img/git_logo.png" alt="github"/></a></li>
<li><a href="https://stackoverflow.com/users/10017344/%E7%8E%84%E9%94%B7%E6%97%A0%E6%A2%A6"><img src="/static/blog/img/stackover_logo.png" alt="stackoverflow"/></a></li>
</ul>
</div>
</article>
</main>
</div>
</div>
</div>
		
{% endblock main %}

